{{#login-modal screenX=this.lastX screenY=this.lastY loginName=this.loginName loginPassword=this.loginPassword secondFactorToken=this.secondFactorToken action=(action "login")}}
  {{plugin-outlet name="login-before-modal-body" tagName=""}}
  {{#d-modal-body title="login.title" class=this.modalBodyClasses}}
    {{#if this.showLoginButtons}}
      {{login-buttons
        showLoginWithEmailLink=this.showLoginWithEmailLink
        processingEmailLink=this.processingEmailLink
        emailLogin=(action "emailLogin")
        externalLogin=(action "externalLogin")}}
    {{/if}}

    {{#if this.canLoginLocal}}
      <form id="login-form" method="post">
        <div id="credentials" class={{this.credentialsClass}}>
          <table>
            <tbody>
              <tr>
                <td>
                  <label for="login-account-name">{{i18n "login.username"}}</label>
                </td>
                <td>
                  {{text-field value=this.loginName type="email" placeholderKey="login.email_placeholder" id="login-account-name" autocorrect="off" autocapitalize="off" disabled=this.showSecondFactor}}
                </td>
              </tr>
              <tr>
                <td>
                  <label for="login-account-password">{{i18n "login.password"}}</label>
                </td>
                <td>
                  {{text-field value=this.loginPassword type="password" id="login-account-password" maxlength="200" disabled=this.showSecondFactor}}
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a href id="forgot-password-link" {{action "showForgotPassword"}}>{{i18n "forgot_password.action"}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {{#second-factor-form
          secondFactorMethod=this.secondFactorMethod
          secondFactorToken=this.secondFactorToken
          class=this.secondFactorClass
          backupEnabled=this.backupEnabled
          isLogin=true}}
          {{#if this.showSecurityKey}}
            {{#security-key-form
              allowedCredentialIds=this.securityKeyAllowedCredentialIds
              challenge=this.securityKeyChallenge
              showSecurityKey=this.showSecurityKey
              showSecondFactor=this.showSecondFactor
              secondFactorMethod=this.secondFactorMethod
              otherMethodAllowed=this.otherMethodAllowed
              action=(action "authenticateSecurityKey")}}
            {{/security-key-form}}
          {{else}}
            {{second-factor-input value=this.secondFactorToken inputId="login-second-factor" secondFactorMethod=this.secondFactorMethod backupEnabled=this.backupEnabled}}
          {{/if}}
        {{/second-factor-form}}
      </form>
    {{/if}}

  {{/d-modal-body}}

  <div class="modal-footer">
    {{#if this.canLoginLocal}}
      {{#unless this.showSecurityKey}}
        {{d-button action=(action "login")
          icon="unlock"
          label=this.loginButtonLabel
          disabled=this.loginDisabled
          class="btn-large btn-primary"}}
      {{/unless}}

      {{#if this.showSignupLink}}
        {{#d-button class="btn-large" id="new-account-link" action=(route-action "showCreateAccount")}}
          {{i18n "create_account.title"}}
        {{/d-button}}
      {{/if}}
    {{/if}}
  </div>

  {{plugin-outlet name="login-after-modal-footer" tagName=""}}

  <div class={{alertClass}} id="login-alert">{{alert}}</div>
{{/login-modal}}
