<div class="container explorer">
  <h1>Data Explorer</h1>
  <div class="left-column">
    <h2 class="title query-name">{{model.name}}</h2>
    {{textarea value=model.query class="query-textarea" width="300" height="450" disabled=edit_disabled}}
    <br>
    {{#if hasErrors}}
      <div class="parse errors">
        <div class="er-message">{{fa-icon "times"}} {{error_message}}</div>
        <div class="er-context">{{{error_context}}}</div>
      </div>
    {{/if}}
    {{#if parseGood}}
      <div class="parse success">
        <div class="su-message">{{fa-icon "check"}} {{i18n "explorer.parse_good"}}</div>
      </div>
    {{/if}}
    <div class="button-container">
      {{d-button action="parse" icon="check" label="explorer.parse" disabled=parse_disabled}}
      {{d-button action="run" icon="caret-square-o-right" label="explorer.run" disabled=run_disabled}}
      {{d-button action="save" icon="caret-square-o-right" label="explorer.save" disabled=save_disabled}}
    </div>
  </div>
  <div class="right-column">
    <div class="parameters">
      <h2 class="title">Query Parameters</h2>
      {{#each param in model.params}}
        <div class="row">
          <span class="name">{{param.name}}</span>
          <span class="value">{{input value=param.value}}</span>
        </div>
      {{/each}}
    </div>
  </div>
</div>
