<div class="container explorer">
  <h1>Data Explorer</h1>

  <h2 class="title query-name">{{model.name}}</h2>

  <div class="parameters">
    <h3>Query Parameters</h3>
    {{#each param in model.params}}
      <div class="row">
        <span class="name">{{param.name}}</span>
        <span class="value">{{input value=param.value}}</span>
      </div>
    {{/each}}
  </div>

  <pre class="query-readonly"><code>{{model.query}}</code></pre>

  <div {{bind-attr class=":edit-controls editControlsHidden:ec-hidden"}}>
    {{d-button action="showEdit" icon="plus" label="explorer.editbutton" id="showEdit"}}
    <div class="query-container">
      {{textarea value=model.query class="query-textarea" width="300" height="450" disabled=edit_disabled}}
    </div>
    <div class="button-container">
      {{d-button action="parse" icon="check" label="explorer.parse" disabled=parse_disabled}}
      {{d-button action="save" icon="caret-square-o-right" label="explorer.save" disabled=save_disabled}}
    </div>
    <div class="options">
      <label for="public_view">
        {{input type="checkbox" checked=model.public_view disabled=edit_disabled id="public_view"}}
        {{i18n "explorer.public_view"}}</label>
      <label for="public_run">
        {{input type="checkbox" checked=model.public_run disabled=edit_disabled id="public_run"}}
        {{i18n "explorer.public_run"}}</label>
    </div>
    <div class="parameters">
      {{#if anyParameters}}
        <h2 class="title">Query Parameters</h2>
        {{#each param in model.params}}
          <div class="row">
            <span class="name">{{param.name}}</span>
            <span class="value">{{input value=param.value}}</span>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
