<div class="container explorer">
  <h1>{{#link-to "explorer-index"}}{{fa-icon "chevron-left"}} {{i18n "explorer.title"}}{{/link-to}}</h1>

  <h2 class="title query-name">{{i18n "explorer.query"}} {{model.name}}</h2>

  <div class="parameters">
    <h3>Query Parameters</h3>
    {{#each param in model.params}}
      <div class="row">
        <span class="name">{{param.name}}</span>
        <span class="value">{{input value=param.value}}</span>
      </div>
    {{/each}}
    <br>
    {{d-button action="run" icon="chevron-right" label="explorer.run" disabled=run_disabled class="btn-primary"}}
    <div class="options">
      <span class="options-title">{{i18n "explorer.opt.options"}}:</span>
      <label for="explain">{{input type="checkbox" checked=explain id="explain"}}
        {{i18n "explorer.opt.explain"}}</label>
      <label for="notransform">{{input type="checkbox" checked=notransform id="notransform"}}
        {{i18n "explorer.opt.notransform"}}</label>
    </div>
  </div>

  {{#if showResult}}
    <div class="result">
    {{#loading-spinner condition=loadingResult}}
    {{#if errorResult}}
      {{! one line because of white-space: pre }}
      <div class="result-error"><span class="result-classname">{{errorResult.class}}</span>: {{errorResult.message}}</div>
    {{else}}
      {{query-result content=queryResult}}
    {{/if}}
    {{/loading-spinner}}
    </div>
  {{/if}}

  <pre class="query-readonly"><code>{{model.query}}</code></pre>

  <div {{bind-attr class=":edit-controls editControlsHidden:ec-hidden"}}>
    {{d-button action="showEdit" icon="plus" label="explorer.editbutton" id="showEdit"}}
    <div class="query-container">
      {{textarea value=model.query class="query-textarea" width="300" height="450" disabled=edit_disabled}}
    </div>
    <div class="button-container">
      {{d-button action="parse" icon="check" label="explorer.parse" disabled=parse_disabled}}
      {{d-button action="save" icon="caret-square-o-right" label="explorer.save" disabled=save_disabled class="btn-primary"}}
    </div>
    <div class="options">
      <label for="public_view">
        {{input type="checkbox" checked=model.public_view disabled=edit_disabled id="public_view"}}
        {{i18n "explorer.public_view"}}</label>
      <label for="public_run">
        {{input type="checkbox" checked=model.public_run disabled=edit_disabled id="public_run"}}
        {{i18n "explorer.public_run"}}</label>
    </div>
    <div class="parameters">
      {{#if any_params}}
        <h2 class="title">Query Parameters</h2>
        <table class="query-params-edit">
          <thead>
          <tr>
            <th class="name">Parameter Name</th>
            <th class="value">Default Value</th>
            <th class="type">Type</th>
          </tr>
          </thead>
          <tbody>
          {{#each param in model.params}}
            <tr>
              <td class="name">{{param.name}}</td>
              <td class="value">{{input value=param.default_value}}</td>
              <td class="type">{{combo-box content=controller.typeList value=param.type}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </div>
</div>
